*{
    box-sizing: border-box;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin:10px 30px;
    font-size: 10px;
    padding: 20px;
}
.container{
    background-color: lightgrey;
    padding: 5px 20px ;
    border:1px solid lightgrey ;
    border-radius: 4px;
}
input[type="text"],
input[type="email"],
input[type="pincode"],
input[type="number"],
input[type="date"],
input[type="password"],
select,
textarea{
    width:100% ;
    padding: 10px;
    border: 1px solid black ;
    border-radius: 9px;
    margin: 10px;

}
  fieldset{
    background-color:white;
    border: 1px solid black;
}
.heading{
    text-align: center;
}
hr{
   border: solid black; 
}
input [type="submit"] {
    background-color: #78eb04;
    color: rgb(36, 67, 95);
    padding: 5px 20px ;
    border-radius: 4px ;
    cursor: pointer;
    width: 100%;
}
input [type="submit"] :hover{
    background-color: blue;

}
